body {
    background-color: gold;
}

li:nth-child(1) a {
    background: #111;
}

li:nth-child(2) a {
    background-color: green;
}

li:nth-child(3) a {
    background-color: gold;
}

li:nth-child(4) a {
    background-color: red;
}