@charset "UTF-8";

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  color: #333;
}

.fixe {
  top: 0px;
  width: 790px;
  z-index: 1000;
}

#details_main .container {
  width: 998px;
  margin: 0 auto;
}

#details_main .container .box-shadow {
  position: relative;
  zoom: 1;
  padding-top: 30px;
  z-index: 10;
}

#details_main .container .box-shadow .box-content {
  position: relative;
  zoom: 1;
  display: block;
  padding: 0 10px 0px 8px;
  background: url(../images/bg-box.png) left bottom repeat-y;
  overflow: hidden;
}

#details_main .container .crumbs {
  height: 25px;
  margin: 5px 0 20px 8px;
  color: #333;
  line-height: 25px;
  zoom: 1;
}

#details_main .container .crumbs a {
  color: #333;
}

#details_main .container .sidebar {
  display: block;
  float: left;
  left: 0;
  width: 186px;
  padding-right: 4px;
  text-align: right;
  line-height: 20px;
}

#details_main .container .related-buy {
  text-align: right;
  line-height: 20px;
}

#details_main .container .related-buy h2 {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #F6F6F6;
  color: #333;
  text-align: center;
  line-height: 30px;
  word-break: break-all;
}

#details_main .container .related-buy li {
  position: relative;
  zoom: 1;
  margin: 0 7px;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px 0 10px 67px;
  text-align: left;
  line-height: 18px;
}

#details_main .container .related-buy li .cover-wrapper {
  display: block;
  position: absolute;
  left: 5px;
  top: 7px;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
}

#details_main .container .related-buy li .book-name {
  display: block;
  height: 36px;
  text-align: left;
  overflow: hidden;
}

#details_main .container .related-buy .common-emprice {
  color: #D70000;
  font-weight: bolder;
  font-family: "微软雅黑";
}

#details_main .container .related-buy .col-2 {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 0;
}

#details_main .container .related-buy .clear-history {
  margin-right: 10px;
  color: #656565;
  line-height: 24px;
}

#details_main .container .book-info {
  position: relative;
  zoom: 1;
}

#details_main .container .content-holder {
  float: left;
  width: 790px;
  _width: 785px;
  padding-bottom: 20px;
}

#details_main .container .book-essential-info {
  background: #fff;
}

#details_main .container .book-title {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
  font-family: "微软雅黑";
  font-weight: bolder;
}

#details_main .container .book-adcontent {
  margin: 0 10px;
  color: red;
  font-size: 12px;
  font-family: "微软雅黑";
  font-weight: bolder;
}

#details_main .container .book-intro {
  position: relative;
  zoom: 1;
  min-height: 400px;
  margin-top: 20px;
  border-bottom: 10px solid #f0f0f0;
  padding: 0 10px 26px 335px;
  background: #fff;
}

#details_main .container .book-intro .reimg {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 0px;
  left: 0px;
  background: #fff;
  opacity: 0.5;
  z-index: 50;
  display: none;
}

#details_main .container .book-intro .bgimg {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 280px;
  z-index: 50px;
  width: 380px;
  height: 380px;
  display: none;
}

#details_main .container .book-intro .bgimg img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 51px;
}

#details_main .container .book-intro .book-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
}

#details_main .container .book-intro .book-cover .cover-show {
  display: block;
  width: 280px;
  height: 280px;
  text-align: center;
}

#details_main .container .book-intro .book-cover .cover-show img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

#details_main .container .book-intro .book-cover .evaluate {
  margin: 10px 0 10px 25px;
  padding-left: 4px;
  line-height: 24px;
}

#details_main .container .book-intro .book-sale-info .book-price {
  border-bottom: 1px dashed #E0E0E0;
  padding: 10px;
  padding-left: 10px;
  padding-left: 13px;
  color: #333333;
  line-height: 25px;
}

#details_main .container .book-intro .book-sale-info .book-price .yuan {
  font-family: "微软雅黑";
  font-size: 24px;
  font-weight: bolder;
  color: #D70000;
}

#details_main .container .book-intro .book-sale-info .book-price .old-price {
  font-family: Arial;
}

#details_main .container .book-intro .book-sale-info .book-price .common-emprice {
  color: #D70000;
  font-weight: bolder;
  font-family: "微软雅黑";
}

#details_main .container .book-intro .book-sale-info .book-other-info {
  border-bottom: 1px dashed #E0E0E0;
  padding: 10px;
  padding-left: 10px;
  padding-left: 13px;
  color: #333333;
  line-height: 25px;
}

#details_main .container .book-intro .book-sale-info .book-other-info a {
  color: #136DC1;
}

#details_main .container .book-intro .book-sale-info .book-word-count {
  padding: 5px 13px;
  color: #878787;
}

#details_main .container .book-intro .book-sale-info .buy-panel {
  margin-top: 15px;
  padding: 10px 10px 15px 13px;
  background: #F4F4F4;
  color: #444444;
}

#details_main .container .book-intro .book-sale-info .buy-panel p {
  line-height: 27px;
}

#details_main .container .book-intro .book-sale-info .buy-panel p input {
  width: 30px;
  height: 16px;
  border: 1px solid #AAABAD;
}

#details_main .container .book-intro .book-sale-info .buy-panel .add-to-cart {
  display: block;
  float: left;
  width: 160px;
  height: 45px;
  border: none;
  text-indent: -10000px;
}

#details_main .container .book-intro .book-sale-info .buy-panel .sell {
  background: url(../images/btn-addToCart.png) left top no-repeat;
}

#details_main .container .book-intro .book-sale-info .buy-panel .add-to-fav {
  display: block;
  float: left;
  height: 25px;
  margin: 13px 0 0 20px;
  padding-left: 20px;
  background: url(../imagesico-fav.gif) left center no-repeat;
  color: #136ec2;
  text-decoration: underline;
  line-height: 25px;
}

#details_main .container .book-ext-info {
  border-bottom: 10px solid #f0f0f0;
  padding: 20px 0;
  background: #fff;
}

#details_main .container .book-ext-info .book-tab {
  position: relative;
  zoom: 1;
  height: 28px;
  border-bottom: 1px solid #136EC2;
  background: #fff;
}

#details_main .container .book-ext-info .book-tab .panel-detail {
  left: -1px;
}

#details_main .container .book-ext-info .book-tab li {
  display: block;
  position: relative;
  zoom: 1;
  bottom: 0px;
  float: left;
  min-width: 100px;
  border-bottom: 1px solid #136EC2;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  color: #333;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}

#details_main .container .book-ext-info .book-tab li a {
  display: block;
  color: #333;
  text-decoration: none;
  outline: none;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #136EC2;
}

#details_main .container .book-ext-info .book-tab li .a_active {
  border-top: 2px solid #136EC2;
}

#details_main .container .book-ext-info .book-tab .current {
  border-left: 1px solid #136EC2;
  border-right: 1px solid #136EC2;
  border-top: 1px inset #136EC2;
  border-bottom: 1px solid #ffffff;
  font-weight: bolder;
  z-index: 20;
  cursor: pointer;
}

#details_main .container .book-ext-info .book-tab li:hover a {
  font-weight: bolder;
}

#details_main .container .book-ext-info .detail-content {
  padding: 10px 5px 5px;
}

#details_main .container .book-ext-info .detail-content h2 {
  height: 29px;
  margin: 5px 0;
  background: #F0F0F0;
  color: #333333;
  font-size: 14px;
  text-indent: 20px;
  line-height: 29px;
}

#details_main .container .book-ext-info .detail-item-wrapper {
  position: relative;
  padding-bottom: 33px;
}

#details_main .container .book-ext-info .desp-content {
  padding: 15px 20px 0;
}

#details_main .container .book-ext-info .desp-content .book-contents {
  overflow: hidden;
  padding-bottom: 5px;
  line-height: 22px;
}

#details_main .container .book-ext-info .desp-content .book-contents p {
  text-indent: 2em;
  line-height: 22px;
}

#details_main .container .comment-content {
  padding: 8px 0 15px 0;
  background: #fff;
}

#details_main .container .comment-content .score-holder {
  height: 120px;
  border-top: 1px solid #136EC2;
  background: #F0F0F0;
}

#details_main .container .comment-content .score-holder .score {
  float: left;
  width: 80px;
  height: 75px;
  margin-top: 5px;
  padding: 34px 15px 0;
  background: url(../images/bg-score.gif) right top repeat-y;
  text-align: center;
  color: #333333;
  line-height: 20px;
}

#details_main .container .comment-content .score-holder .score .score-percent {
  display: block;
  font-size: 24px;
  font-family: Arial;
  color: #D70000;
}

#details_main .container .comment-content .score-holder .score .prt-symbol {
  font-size: 14px;
  font-weight: bolder;
  font-family: Arial;
  color: #D70000;
}

#details_main .container .comment-content .score-holder .rating {
  float: left;
  width: 232px;
  margin-top: 28px;
  _margin-top: 22px;
  height: 86px;
  padding: 0 20px 0 30px;
  background: url(../images/bg-score.gif) right top repeat-y;
}

#details_main .container .comment-content .score-holder .rating li {
  height: 20px;
  line-height: 20px;
}

#details_main .container .comment-content .score-holder .rating li div {
  float: left;
}

#details_main .container .comment-content .score-holder .rating .energy-bar {
  width: 100px;
  height: 12px;
  margin: 2px;
  border: 1px solid #D6D6D6;
  background: #E6E6E6;
  font-size: 0;
  line-height: 0;
}

#details_main .container .comment-content .score-holder .rating .energy-bar span {
  display: block;
  width: 0%;
  height: 100%;
  background: #F4B00B;
  text-indent: -10000px;
  font-size: 0;
  line-height: 0;
}

#details_main .container .comment-content .score-holder .score-text {
  float: left;
  width: 217px;
  margin-top: 50px;
  border-left: 1px solid #F3F2F1;
  padding: 0px 15px 0px 22px;
  line-height: 20px;
}

#details_main .container .comment-content .score-holder .btn-add-comment {
  float: left;
  padding-top: 60px;
}

#details_main .container .comment-content .score-holder .btn-add-comment a {
  display: block;
  width: 84px;
  height: 35px;
  background: url(../images/btn-addComment.png) left top no-repeat;
  text-indent: -10000px;
}

#details_main .container .qa-content .qa-tip {
  position: relative;
  zoom: 1;
  margin-top: 10px;
  border-top: 1px solid #136EC2;
  padding: 12px 50px 12px 20px;
  background: #F0F0F0;
  line-height: 20px;
}

#details_main .container .qa-content .qa-tip .iwannaask {
  display: block;
  position: absolute;
  right: 15px;
  top: 6px;
  width: 83px;
  height: 31px;
  background: url(../images/btn-iask.png) left top no-repeat;
  text-indent: -10000px;
}

#details_main .container .buy-popup {
  display: none;
  position: absolute;
  z-index: 11000;
  left: 794px;
  top: 630px;
  width: 393px;
  border: 2px solid #4494f8;
  border-bottom-color: #4494f8;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom: 1px solid #4494f8;
  background: #fff;
}

#details_main .container .buy-popup .header {
  display: block;
  position: relative;
  zoom: 1;
  min-width: 350px;
  height: 27px;
  border-bottom: 1px solid #4494f8;
  padding-left: 12px;
  padding-right: 30px;
  background: #f4f4f4;
  overflow: hidden;
  line-height: 27px;
}

#details_main .container .buy-popup .close-trigger {
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  width: 27px;
  height: 27px;
  background: url(../images/btn-close-dlg.png) left top no-repeat;
  text-indent: -10000px;
}

#details_main .container .buy-popup .summary {
  height: 20px;
  padding: 25px 0px 0 127px;
  background: url(../../img/mall/gougou.png) 93px 21px no-repeat;
  font-size: 14px;
}

#details_main .container .buy-popup .summary {
  font-size: 14px;
}

#details_main .container .buy-popup .tip-detail {
  font-size: 14px;
  text-align: center;
}

#details_main .container .buy-popup .common-emprice {
  color: #D70000;
  font-weight: bolder;
  font-family: "微软雅黑";
}

#details_main .container .buy-popup .btn-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

#details_main .container .buy-popup .continue-buy {
  display: inline-block;
  width: 101px;
  height: 33px;
  background: url(../images/btn-continue-buy.png) left top no-repeat;
  text-indent: -10000px;
}

#details_main .container .buy-popup .pay-now {
  display: inline-block;
  width: 109px;
  height: 33px;
  background: url(../images/btn-pay-now.png) left top no-repeat;
  text-indent: -10000px;
}

#details_main .container .buy-popup .summary {
  height: 20px;
  padding: 25px 0px 0 127px;
  background: url(../images/gougou.png) 93px 21px no-repeat;
  font-size: 14px;
}

#details_main .container .buy-popup .btn-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

#details_main .container .buy-popup .buy-again {
  display: inline-block;
  width: 109px;
  height: 33px;
  background: url(../images/btn-buy-again.png) left top no-repeat;
  text-indent: -10000px;
}

#details_main .container .buy-popup .pay-now {
  display: inline-block;
  width: 109px;
  height: 33px;
  background: url(../images/btn-pay-now.png) left top no-repeat;
  text-indent: -10000px;
}

#details_main .container .buy-popup .low-stock-tip {
  display: none;
  padding: 0 12px;
}

#details_main .container .buy-popup .low-stock-tip .tip-detail {
  margin-top: 20px;
}

#details_main .container .buy-popup .low-stock-tip .remain-book-num {
  margin: 0 3px;
  font-weight: bolder;
}

#details_main .container .buy-popup .btn-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

#details_main .container .buy-popup .btn-wrapper button {
  height: 23px;
  padding: 0 13px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  background: url(../images/bg-btn.png) left top repeat-x;
  line-height: 21px;
}