.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#footer-tips {
  width: 998px;
  margin: 0 auto;
  height: 210px;
  position: relative;

  padding-top: 30px;
  z-index: 10;
  margin-top: -6px;

  .box-gap {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background: url(../images/bg-box-gap.png) left top no-repeat;
    font-size: 0;
    content: " ";
  }

  .box-content {
    position: relative;
    zoom: 1;
    display: block;
    height: 210px;
    padding: 0 10px 0px 8px;
    background: url(../images/bg-box.png) left bottom repeat-y;
    overflow: hidden;
  }

  .related-links {
    float: left;
    width: 690px;
    height: 200px;
    padding-top: 3px;
    padding-left: 40px;

    h3 {
      display: block;
      height: 24px;
      font-size: 13px;
      text-align: center;
      color: #666666;
    }

    div {
      width: 120px;
      float: left;

      a {
        display: block;
        line-height: 20px;
        color: #666666;
      }

      h3 {
        text-align: left;
      }
    }
  }

  .follow-us {
    position: relative;
    top: -5px;
    float: right;
    width: 250px;
    height: 200px;

    div {
      height: 200px;
      padding-top: 8px;
      background: url(../images/border-bg-y.gif) repeat-y;

      img {
        display: block;
        margin: 10px auto 0 auto;

      }

      .img1 {
        background: url(../images/tel.jpg) no-repeat;
        width: 210px;
        height: 70px;
      }

      .img2 {
        background: url(../images/helpmember.gif) no-repeat;

      }
    }
  }
}

#footer {
  position: relative;
  height: 230px;
  background: url(../images/nav-bg.gif) repeat-x;
  background-color: #ffffff;
  z-index: 99;
  zoom: 1;
  min-width: 998px;

  .footer_nav {
    height: 34px;
    width: 815px;
    margin: 0 auto;
    position: relative;

    span {
      display: block;
      float: left;
      width: 135px;
      height: 34px;
      line-height: 34px;
      background-position: left 3px;
      padding-left: 28px;
      color: #fefefe;
      font-size: 16px;
      font-family: "微软雅黑";
      cursor: default;
      text-decoration: none;
    }
  }

  .footer-links {
    width: 545px;
    margin: 17px auto;

    a {
      color: #333333;
    }
  }

  .footer-copyright {
    width: 900px;
    margin: auto;
    padding: 25px 0;
    background: url(../images/copyright.gif) 320px 8px no-repeat;
  }

  .footer-certificate {
    width: 260px;
    height: 47px;
    margin: 31px auto;

    .footer-certificate2 {
      display: block;
      float: right;
      width: 128px;
      height: 47px;
      background: url(../images/footer-certificate2.gif) no-repeat;
    }
  }
}