@charset "UTF-8";
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#main {
  width: 998px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

#main .box-content {
  position: relative;
  zoom: 1;
  display: block;
  padding: 0 10px 0px 8px;
  background: url("../images/bg-box.png") left bottom repeat-y;
  overflow: hidden;
}

#main .box-content .crumbs {
  height: 25px;
  margin: 5px 0 20px 8px;
  color: #333;
  line-height: 25px;
  line-height: 25px;
}

#main .box-content .crumbs a {
  color: #333;
}

#main .box-content .search-wrapper {
  background: url("../images/list-bar.gif") 190px top repeat-y;
}

#main .box-content .search-wrapper .sort-infor {
  float: left;
  width: 190px;
  background: #ffffff;
}

#main .box-content .search-wrapper .sort-infor .ztree {
  margin: 0;
  padding: 5px;
  color: #333;
}

#main .box-content .search-wrapper .sort-infor .ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}

#main .box-content .search-wrapper .sort-infor .ztree li a {
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 17px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}

#main .box-content .search-wrapper .sort-infor .ztree li .switch {
  width: 18px;
  height: 18px;
}

#main .box-content .search-wrapper .sort-infor .ztree li span {
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}

#main .box-content .search-wrapper .sort-infor .ztree li .button {
  vertical-align: middle;
  background-image: url("../images/zTreeStandard.png");
}

#main .box-content .search-wrapper .sort-infor .ztree li .ico_open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
  *vertical-align: middle;
}

#main .box-content .search-wrapper .sort-infor .ztree li .root_close {
  background-position: -74px -54px;
}

#main .box-content .search-wrapper .sort-infor .ztree li .root_open {
  background-position: -92px -54px;
}

#main .box-content .search-wrapper .sort-infor .sellers {
  overflow: hidden;
  padding-bottom: 25px;
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item {
  margin-top: 10px;
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item .sellers-price {
  width: 109px;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  font-family: '微软雅黑';
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item .sellers-price .red {
  color: #D70000;
  font-weight: bold;
  font-family: "微软雅黑";
  padding-right: 7px;
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item .sellers-img {
  width: 139px;
  height: 139px;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item .sellers-img a {
  display: block;
  width: 127px;
  height: 127px;
  margin: 6px;
  text-align: center;
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item .sellers-img a img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item .sellers-detail {
  width: 144px;
  margin: 10px auto;
  overflow: hidden;
  color: #666666;
}

#main .box-content .search-wrapper .sort-infor .sellers .sellers-item .sellers-detail a {
  display: inline-block;
  overflow: hidden;
  height: 2.3em;
  color: #333;
}

#main .box-content .search-wrapper .book-infor {
  float: right;
  width: 786px;
  background-color: #ffffff;
}

#main .box-content .search-wrapper .book-infor .search-condition .byPrice,
#main .box-content .search-wrapper .book-infor .search-condition .byDiscount {
  height: 32px;
  padding-left: 4px;
  margin-left: 12px;
  line-height: 32px;
  overflow: hidden;
  font-weight: bold;
  color: #333333;
}

#main .box-content .search-wrapper .book-infor .search-condition .byPrice .active,
#main .box-content .search-wrapper .book-infor .search-condition .byDiscount .active {
  background: #367CB4;
  color: #ffffff;
}

#main .box-content .search-wrapper .book-infor .search-condition .byPrice span,
#main .box-content .search-wrapper .book-infor .search-condition .byDiscount span {
  margin: 0 15px 0 3px;
  padding: 1px;
  font-weight: lighter;
  cursor: pointer;
}

#main .box-content .search-wrapper .book-infor .search-condition .byPrice {
  border-bottom: 1px dashed #e0e0e0;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort {
  height: 33px;
  margin: 10px 0 0 10px;
  padding: 3px 8px 0 8px;
  color: #333333;
  border: 1px solid #d6d6d6;
  border-top-color: #d6d6d6;
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 2px solid #2BA2E6;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy {
  float: left;
  margin-top: 2px;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy .check {
  position: relative;
  top: 3px;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy .down {
  padding: 0 15px 0 5px;
  background-image: url("../images/down.png");
  background-position: 90% -32px;
  background-repeat: no-repeat;
  border: 1px solid white;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy .activeup {
  border: 1px solid #EA701D;
  background-color: #f4f4f4;
  background-position: 90% 4px;
  border-radius: 4px;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy a,
#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy p {
  display: block;
  float: left;
  height: 22px;
  line-height: 22px;
  padding: 0 7px;
  text-decoration: none;
  cursor: pointer;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy p .list-text {
  display: block;
  float: left;
  padding: 10px 7px;
  border: none;
  cursor: pointer;
  width: 9px;
  height: 3px;
  background: url("../images/list-text-n.gif") 50% 50% no-repeat;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy p .list-pic {
  background: url("../images/list-text.gif") 50% 50% no-repeat;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .sort-classfiy .gap {
  float: left;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .jump {
  float: right;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .jump a {
  display: block;
  float: left;
  padding: 15px 12px;
  background: url("../images/dot.gif") 0 50% no-repeat;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .jump .left {
  padding: 15px 9px;
  background: url("../images/left.gif") 0 50% no-repeat;
}

#main .box-content .search-wrapper .book-infor .search-condition .terms-sort .jump .right {
  padding: 15px 9px;
  background: url("../images/right.gif") 0 50% no-repeat;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item {
  float: left;
  width: 184px;
  padding: 25px 0;
  border: solid 1px white;
  cursor: pointer;
  border-radius: 3px;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .search-book-img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .bk-img-box {
  display: block;
  text-align: center;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .search-book-detail {
  width: 170px;
  height: 53px;
  margin: 10px auto;
  overflow: hidden;
  color: #1A66B3;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .search-book-price {
  width: 170px;
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  font-family: '微软雅黑';
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .search-book-price span {
  font-family: '宋体';
  font-weight: lighter;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .red {
  color: #D70000;
  font-weight: bold;
  font-family: "微软雅黑";
  padding-right: 7px;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .btn {
  width: 152px;
  height: 23px;
  margin: 0 auto;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .buy-btn {
  display: block;
  float: left;
  width: 73px;
  height: 23px;
  background: url("../images/buy-btn.gif") no-repeat;
  border: none;
  cursor: pointer;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-item .save-btn {
  display: block;
  float: right;
  width: 69px;
  height: 23px;
  background: url("../images/save-btn.gif") no-repeat;
  border: none;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text {
  position: relative;
  height: 182px;
}

#main .box-content .search-wrapper .book-infor #J_template .search-book-list {
  padding: 0 19px 0 14px;
  margin-left: 9px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 5px;
}

#main .box-content .search-wrapper .book-infor #J_template a {
  color: #666666;
  outline: none;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-img {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 150px;
  height: 150px;
  border: 1px solid #e6e6e6;
}

#main .box-content .search-wrapper .book-infor #J_template .bk-img-box {
  display: block;
  text-align: center;
}

#main .box-content .search-wrapper .book-infor #J_template .bk-img-box img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-title {
  display: block;
  position: absolute;
  left: 179px;
  top: 13px;
  width: 576px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  color: #1A66B3;
  font-size: 14px;
  border-bottom: 1px dashed #E0E0E0;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-infor {
  position: absolute;
  left: 179px;
  top: 54px;
  width: 579px;
  height: 1em;
  overflow: hidden;
  color: #666666;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-infor .bookList-text-publish {
  margin: 0 10px;
  color: #333333;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-detail {
  display: block;
  position: absolute;
  left: 179px;
  top: 85px;
  width: 579px;
  height: 5em;
  overflow: hidden;
  color: #666666;
  text-indent: 2em;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-price {
  position: absolute;
  left: 179px;
  top: 137px;
  width: 579px;
  height: 20px;
  overflow: hidden;
  color: #333333;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-price .red {
  color: #D70000;
  font-weight: bold;
  font-family: "微软雅黑";
  padding-right: 7px;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-price .lightRed {
  color: #D70000;
  padding-left: 7px;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-btn {
  position: absolute;
  left: 610px;
  top: 134px;
  width: 151px;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-btn .buy-btn {
  display: block;
  float: left;
  width: 73px;
  height: 23px;
  background: url("../images/buy-btn.gif") no-repeat;
  border: none;
  cursor: pointer;
}

#main .box-content .search-wrapper .book-infor #J_template .bookList-text-btn .save-btn {
  display: block;
  float: right;
  width: 69px;
  height: 23px;
  background: url("../images/save-btn.gif") no-repeat;
  border: none;
}

.cpt-dlg-outer {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px;
  background: #4494F8;
  overflow: hidden;
}

.cpt-dlg-outer .dlg-holder {
  position: relative;
  background: #fff;
  height: 100%;
}

.cpt-dlg-outer table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.cpt-dlg-outer table .header-holder {
  height: 30px;
  vertical-align: top;
  border-bottom: 1px solid #4494F8;
  background: #fff;
}

.cpt-dlg-outer table .dlg-header {
  position: relative;
  height: 30px;
  padding-right: 30px;
  background-color: #F4F4F4;
}

.cpt-dlg-outer table .dlg-header .no-icon {
  padding-left: 10px;
}

.cpt-dlg-outer table .dlg-title {
  display: block;
  height: 30px;
  padding-left: 35px;
  line-height: 30px;
  color: #333;
  text-shadow: 5px 2px 6px #fff;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cpt-dlg-outer table .dlg-close {
  display: block;
  position: absolute;
  zoom: 1;
  right: 2px;
  top: 1px;
  width: 27px;
  height: 27px;
  background: url("../images/btn-close-dlg.png") left top no-repeat;
  cursor: pointer;
  text-decoration: none;
  text-indent: -99999px;
}

.cpt-dlg-outer .content-holder {
  width: auto;
  vertical-align: top;
}

.cpt-dlg-outer .dlg-alert {
  position: relative;
  min-height: 20px;
  font-size: 14px;
  _height: 50px;
  padding: 25px 10px 25px 60px;
  color: #333;
  font-weight: bolder;
  line-height: 20px;
}

.cpt-dlg-outer .success {
  background-position: 0px top;
}

.cpt-dlg-outer .alert-ico {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 51px;
  background: url("../images/ico.png")-50px top no-repeat;
  background-position-x: 0px;
  background-position-y: top;
}

.cpt-dlg-outer .footer-holder {
  height: 40px;
}

.cpt-dlg-outer .footer-holder .dlg-footer {
  height: 100%;
  text-align: center;
}

.cpt-dlg-outer .footer-holder .dlg-footer button {
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  padding: 2px 0px 2px 5px;
  color: #666666;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 5px;
}
