.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box {
    background: #f9f9f9;
    font-size: 12px;
    font-family: '新宋体', '宋体', '微软雅黑', Arial;

    .header {
        height: 170px;
        min-width: 981px;
        background: url("../images/header-bg.gif") left 30px repeat-x;
        background-color: #ffffff;
        margin-bottom: 0;
    }

    .login-register-header {
        height: 98px;
        background: url("../images/login-register-header-bg.gif") left top repeat-x;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../images/login-register-header-bg.gif");
        background-color: #fff;
        border-bottom: 3px solid #2ba2e6;
    }

    .header-search {

        width: 966px;
        height: 90px;
        padding-left: 15px;
        margin: 0 auto;
        margin-top: 5px;

        a {
            float: left;

            img {
                margin-top: 40px;
            }
        }

    }

    .container {
        width: 998px;
        margin: 0 auto;

        .box-content {
            height: 500px;
            overflow: visible;
        }
    }

    .box-shadow {
        position: relative;
        zoom: 1;
        padding-top: 30px;
        z-index: 10;

        .box-content {
            position: relative;
            width: 100%;
            zoom: 1;
            display: block;
            padding: 0 10px 0px 8px;
            background: url(../images/bg-box.png) left bottom repeat-y;
            overflow: hidden;
        }
    }

    .register-frame {
        position: absolute;
        top: 38px;
        left: 125px;
        width: 720px;
        border: 1px solid #d4d4d4;
        border-radius: 3px;

        h1 {
            margin: 0;
            font-size: 18px;
            color: #666666;
            font-family: '微软雅黑';
            font-weight: 150;
            text-align: center;
        }

        form {
            height: 303px;
            margin-top: 32px;
            padding-left: 100px;

            input[type="text"],
            input[type="password"] {
                width: 175px;
                height: 28px;
                line-height: 28px;
                padding: 0 10px;
                overflow: hidden;
                background: url("../images/login-input.gif") no-repeat;
            }

            .error-field {
                border: 1px solid #ff0033;
                box-shadow: 0 0 4px #ff6666;
            }

            p {
                position: relative;
                height: 47px;

                .error-content {
                    background: url(../images/error.png) 5px center no-repeat;
                    padding-left: 25px;
                }

                .success-content {
                    background: url(../images/yes.png) 5px center no-repeat;
                    padding-left: 25px;

                }

                span {

                    display: inline-block;
                    min-width: 20px;
                    max-width: 500px;
                    min-height: 25px;
                    margin-left: 15px;
                    line-height: 25px;
                    font-size: 12px;
                }

                label {
                    font-size: 14px;
                    color: #333333;
                }

                .register-label {
                    display: inline-block;
                    width: 72px;
                    text-align: right;
                }

                .register-validCodeButton {
                    display: block;
                    width: 130px;
                    height: 28px;
                    margin-left: 75px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }

                img {
                    position: absolute;
                    left: 75px;
                    width: 142px;
                    height: 44px;
                }

                #J_validCodes {
                    background: #fff;
                    border: 1px solid #c8c8c8;
                    box-shadow: 1px 1px 1px 0 #eaeaea inset;
                    width: 60px;
                    height: 28px;
                }

                #J_update_validCode {
                    left: 190px;
                    width: 68px;
                    height: 32px;
                }

                .register-email-submit {
                    width: 103px;
                    height: 35px;
                    margin: 12px 0 0 75px;
                    background: url("../images/register-btn.gif") no-repeat;
                    border: none;
                    cursor: pointer;
                }

                .register-submit {
                    width: 103px;
                    height: 35px;
                    margin: 12px 0 0 75px;
                    background: url("../images/register-btn.gif") no-repeat;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .register-type {
        border-bottom: 1px solid #d4d4d4;
        border-radius: 3px;

        cursor: default;

        div {
            width: 340px;
            display: inline-block;
            height: 40px;
            line-height: 40px;

            h1 {
                margin: 0;
                font-size: 18px;
                color: #666666;
                font-family: '微软雅黑';
                font-weight: 150;
                text-align: center;
            }
        }

        .register-type-selected {
            border-bottom: 2px solid #2ba2e6;
            margin-top: -1px;
        }
    }

    .login {
        height: 67px;
        background-color: #f7f7f7;

        p {
            width: 512px;
            margin: 0 auto;
            padding-top: 26px;
        }
    }

}