.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#box {
    .box-shadow {
        position: relative;
        zoom: 1;
        padding-top: 30px;
        z-index: 10;


        .box-content {
            position: relative;
            zoom: 1;
            display: block;
            padding: 0 10px 0px 8px;
            padding-top: 0px;
            background: url(../images/bg-box.png) left bottom repeat-y;
            overflow: hidden;


        }

    }

    .container {
        width: 998px;
        margin: 0 auto;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            font-size: 12px;
        }



        .cart-group {
            position: relative;
            margin: 15px 0;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 39px 0px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;


        }

        // th {
        //     height: 30px;
        //     background: #F4F4F4;
        //     color: #333;
        //     text-align: center;
        //     font-weight: normal;
        // }

        .cart-detail {
            width: 100%;
            border-top: 0px solid #e6e6e6;
            border-collapse: collapse;
            text-align: center;
            border-top: 0px solid #e6e6e6;



            tr {
                border-bottom: 1px solid #e6e6e6;

                th {
                    height: 30px;
                    background: #F4F4F4;
                    color: #333;
                    text-align: center;
                    font-weight: normal;
                }
            }

            .cover-info {
                position: relative;
                zoom: 1;
                min-height: 70px;

                padding: 20px 10px 10px 150px;
            }

            .book-cover {
                display: block;
                position: absolute;
                left: 45px;
                top: 10px;
                width: 58px;
                height: 78px;
                border: 1px solid #E5E5E5;
                text-align: center;
                padding: 3px;

                img {
                    width: 54px;
                    height: 74px;
                }
            }

            .book-name {
                display: block;
                color: #136ec2;
                text-align: left;
                text-decoration: none;
                line-height: 18px;
            }

            .col-credit {
                width: 100px;
                color: #666;
            }

            .col-wl-price,
            .col-discount {
                width: 100px;
            }

            .common-price {
                color: #d70000;
                font-family: "微软雅黑";
            }

            .num-panel {
                position: relative;
                zoom: 1;
                vertical-align: top;


                .minus {
                    position: relative;
                    zoom: 1;
                    top: 0px;
                    *top: -3px;
                    display: inline-block;
                    width: 9px;
                    height: 9px;
                    background: url(../images/minus.png) left top no-repeat;
                    text-indent: -10000px;
                }

                input {
                    display: inline-block;
                    width: 30px;
                    height: 14px;
                    line-height: 14px;
                    *margin-left: 7px;
                    border: 1px solid #DDDDDD;
                    color: #111;
                    text-align: center;
                }

                .plus {
                    display: inline-block;
                    position: relative;
                    zoom: 1;
                    top: 0px;
                    *top: -3px;
                    width: 9px;
                    height: 9px;
                    background: url(../images/plus.png) left top no-repeat;
                    text-indent: -10000px;
                }
            }

            .col-op a {
                display: block;
                margin: 0 35px;
                color: #136ec2;
            }

            tfoot {
                tr {
                    border-bottom: none;
                }
            }

            .total-price-holder {
                position: relative;
                zoom: 1;
                padding: 10px 45px 10px 700px;
                text-align: right;
                line-height: 25px;
                color: #333;

                .clear-all {
                    display: block;
                    position: absolute;
                    left: 26px;
                    top: 10px;
                    padding-left: 20px;
                    background: url(../images/cross.png) left center no-repeat;
                    color: #136FC2;
                    line-height: 25px;
                }

                .title {
                    display: inline-block;
                }

                .common-price {
                    display: inline-block;
                    width: 55px;
                    color: #d70000;
                    font-family: "微软雅黑";
                }

                .sum {
                    font-weight: bolder;
                }

                .go-to-pay {
                    width: 109px;
                    height: 32px;
                    margin-top: 10px;
                    border: none;
                    background: url(../images/go-to-pay.gif) left top no-repeat;
                    text-indent: -10000px;
                    padding: 0;
                }
            }
        }

        .box-gap {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 30px;
            background: url(../images/bg-box-gap.png) left top no-repeat;
            font-size: 0;
            content: " ";
        }

        .box-content {
            padding-top: 2px;
            padding-bottom: 10px;
            position: relative;
            zoom: 1;
            display: block;
            padding: 0 10px 0px 8px;
            padding-top: 0px;
            padding-bottom: 0px;
            background: url(../images/bg-box.png) left bottom repeat-y;
            overflow: hidden;
        }

        .recommend-tip {
            position: relative;
            zoom: 1;
            padding: 0 0 0 886px;
            height: 29px;
            border-top: 1px solid #E6E6E6;
            border-bottom: 1px solid #E6E6E6;
            background: #F4F4F4;

            .tip-txt {
                position: absolute;
                left: 26px;
                width: 800px;
                background: url(../images/lamp.png) left center no-repeat;
                line-height: 29px;
                text-indent: 20px;
            }
        }

        .book-list {
            width: auto;
            height: 329px;
            padding: 0 26px;
            margin: 0 auto;
        }
    }

    .cpt-dlg-outer {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 2px;
        background: #4494F8;
        background: #4494F8;
        overflow: hidden;

        .dlg-holder {
            position: relative;
            background: #fff;
            height: 100%;

            table {
                width: 100%;
                height: 100%;
            }
        }

        .header-holder {
            height: 30px;
            vertical-align: top;
            border-bottom: 1px solid #4494F8;
            background: yellow;
        }

        .dlg-header {
            position: relative;
            height: 30px;
            padding-right: 30px;
            background: #00859D;
            background-color: rgb(0, 133, 157);
            background-color: #F4F4F4;
        }

        .no-icon {
            padding-left: 10px;
        }

        .dlg-title {
            display: block;
            height: 30px;
            padding-left: 35px;
            line-height: 30px;
            color: #333;
            text-shadow: 5px 2px 6px #fff;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .confirm-ico {
            display: block;
            position: absolute;
            left: 10px;
            top: 10px;
            width: 50px;
            height: 51px;
            background: url("../images/ico.png") -150px top no-repeat;
        }

        .dlg-close {
            display: block;
            position: absolute;
            zoom: 1;
            right: 2px;
            top: 1px;
            width: 27px;
            height: 27px;
            background: url(../images/btn-close-dlg.png) left top no-repeat;
            cursor: pointer;
            text-decoration: none;
            text-indent: -99999px;
        }

        .content-holder {
            width: auto;
            vertical-align: top;
        }

        .dlg-confirm {
            position: relative;
            min-height: 20px;

            padding: 25px 10px 25px 60px;
            font-size: 14px;
            font-weight: bolder;
            color: #333;
            line-height: 20px;
        }

        .confirm-ico {
            display: block;
            position: absolute;
            left: 10px;
            top: 10px;
            width: 50px;
            height: 51px;
            background: url("../images/ico.png") -150px top no-repeat;
        }

        .footer-holder {
            height: 40px;
        }

        .dlg-footer {
            height: 100%;
            text-align: center;
        }

        button {
            margin: 0 5px;
            border: none;
            border-radius: 3px;
            padding: 2px 0px 2px 5px;
            color: #666666;
            font-size: 14px;
            font-weight: bolder;
            letter-spacing: 5px;
        }
    }
}